.content{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.title{
  display: inline-flex;
  width: 100%;
  text-align: left;
  margin-bottom: 15px;

  h1{
    text-align: left;
    text-transform: capitalize;
    margin: 0 0 0 10px;
    align-self: center;
  }
}

.action-bar{
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;

  button{
    width: 100%;
    padding: 12px;
    text-align: left;
    font-weight: bold;
    display: block;
    background-color: #f3f2f2;
    border-radius: 15px;
    border-color: white;
  }

  button:active{
    outline: 0;
  }

  button:hover{
    background-color: #FAA916 !important;
    color: white !important;
    border-color: #FAA916 !important;
  }
}

.form{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  h3{
    text-align: left;
    margin-top: 0px;
  }

  .content-input{
    width: 100%;
    height: 200px;
    resize: none;
    border-radius: 15px;
    padding: 16px;
    background-color: #f3f2f2;
    border-color: white;
    font-size: 13px;
  }

  .content-radius::placeholder{
    font-weight: 700;
    font-size: 13px;
  }

  .content-input:focus {outline:0;}

  button{
    width: 20%;
    margin-top: 15px;
    align-self: flex-end;
    flex-direction: row;
  }
}

.load-posts-button{
  width: 70%;
}

.note{
  color: gray;
  font-style: italic;
  font-size: 18px;
}

.hobby-not-selected{
  margin: auto;
}
