<div class="content">
    <div *ngIf="hobby">

        <div class="title">
            <hobbify-hobby-icon
                    [iconTag]="hobby.iconTag"
                    [size]="'15'"
                    [defaultColor]="'white'"
                    [backgroundColor]="'#FAA916'"
                    [borderColor]="'white'"></hobbify-hobby-icon>
            <h1>{{hobby.name}} Feed</h1>
        </div>

        <div class="action-bar">
            <button pButton class="ui-button-secondary" label="New Post" (click)="onPost()"></button>
            <button pButton class="ui-button-secondary" label="Events" (click)="onEvent()"></button>
        </div>

        <div class="form" *ngIf="postForm">
            <h3>New Post</h3>

            <textarea pInputTextarea [(ngModel)]="content" class="content-input" placeholder="Write yout text here..."></textarea>
            <button pButton class="ui-button-secondary" label="Post" (click)="onSubmit()"></button>
        </div>

        <div class="posts">
            <div *ngFor="let post of posts">
                <div class="post">
                    <div class="header">
                        <div class="profile">
                            <hobbify-profile-icon
                                    [firstName]="post.firstName"
                                    [lastName]="post.lastName"
                                    [size]="'12'"></hobbify-profile-icon>
                        </div>
                        <div class="header-content">
                            <div class="name">
                                <span>{{post.firstName}}</span>
                                <span>{{post.lastName}}</span>
                            </div>
                            <div class="date">
                                <span>{{post.postDate | hobbifyDate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <span>{{post.content}}</span>
                    </div>
                </div>
            </div>
        </div>

        <button pButton class="ui-button-secondary load-posts-button" label="Load more posts..." (click)="onLoadPosts()"></button>
    </div>
</div>


