<div class="content">
    <div *ngIf="hobby">

        <div class="title">
            <hobbify-hobby-icon
                    [iconTag]="hobby.iconTag"
                    [size]="'15'"
                    [defaultColor]="'white'"
                    [backgroundColor]="'#FAA916'"
                    [borderColor]="'white'"></hobbify-hobby-icon>
            <h1>{{hobby.name}} Feed</h1>
        </div>

        <div class="action-bar">
            <button pButton class="ui-button-secondary" label="New Post" (click)="onPost()"></button>
            <button pButton class="ui-button-secondary" label="Events" (click)="onEvent()"></button>
        </div>

        <div class="form" *ngIf="postForm">
            <h3>New Post</h3>

            <textarea pInputTextarea [(ngModel)]="content" class="content-input" placeholder="Write your text here..."></textarea>
            <button pButton class="ui-button-secondary" label="Post" (click)="onSubmit()"></button>
        </div>

        <div class="posts">
            <div *ngFor="let post of posts">
                <hobbify-post [post]="post"></hobbify-post>
            </div>
        </div>

        <button *ngIf="posts.length > 0" pButton class="ui-button-secondary load-posts-button" label="Load more posts..." (click)="onLoadPosts()"></button>
    </div>
</div>


