<div class="content">
    <div class="ui-g-4 sidebar">
        <hobbify-profile-sidebar
            [(sidebarSelection)]="selectedIndex"></hobbify-profile-sidebar>
    </div>
    <div class="ui-g-8 hobby-feed">
        <div *ngIf="selectedIndex === 1">
            <hobbify-find-friends></hobbify-find-friends>
        </div>
        <div *ngIf="selectedIndex === 2">
            <hobbify-friends-requests></hobbify-friends-requests>
        </div>
        <div *ngIf="selectedIndex === 3">
            <hobbify-change-password></hobbify-change-password>
        </div>
        <div *ngIf="selectedIndex === 4">
            <hobbify-profile-setup
                    [edit]="true"
            ></hobbify-profile-setup>
        </div>
    </div>
</div>
