.profile-icon{
  justify-content: center;
  display: inline-flex;
  align-items: center;
  height: 40px;
  border-radius: 50%;
  border: 2px solid cadetblue;
  color: white;
  background-color: cadetblue;
  text-transform: uppercase;
}
