<div class="content">
    <h1>Change password</h1>
    <p-messages *ngIf="this.message.length > 0" [(value)]="this.message"></p-messages>
    <form #changePasswordForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="form">
      <input formControlName="oldPassword" pInputText placeholder="Old password" required type="password">
      <input formControlName="newPassword" pInputText placeholder="New password" required type="password">

      <button pButton [disabled]="!changePasswordForm.form.valid" class="ui-button-secondary" label="Change password" type="submit"></button>
    </form>
</div>
