.hobby-icon{
  justify-content: center;
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 50%;
  color: black;
  background-color: white;
  margin: auto;
  align-items: baseline;
}
