
<div class="content">
    <h1>Profile Setup</h1>
    <form [formGroup]="formGroup">
        <div class="ui-g name-forms">
            <div class="ui-g-6">
                <input pInputText formControlName="firstName" placeholder="First Name">
            </div>
            <div class="ui-g-6">
                <input pInputText formControlName="lastName" placeholder="Last Name">
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12">
                <textarea pInputTextarea formControlName="description" class="content-input" placeholder="Write your description here..."></textarea>
            </div>
        </div>
    </form>

    <hobbify-hobby-list
            [edit]="edit"
            (submitSelected)="submit($event)"
            [form]="formGroup"></hobbify-hobby-list>
</div>
