.content {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.ui-g-6{
  padding: 0 !important;

  input{
    width: 80%;
    margin: auto;
  }
}

.content-input{
  width: 100%;
  height: 200px;
  resize: none;
  border-radius: 15px;
  padding: 16px;
  background-color: #f3f2f2;
  border-color: white;
  font-size: 13px;
}

.ui-g-12{
  margin: 10px 30px;
}
