.content{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.child{
  margin-top: auto;
  width: 100%;
  padding: 0.5em;

  button {
    background-color: white;
    width: 100%;
    border: 0;
    color: black;
    font-weight: 800;
    padding: 8px;
    margin-bottom: 8px
  }
}

.hobby-button{
  width: 100%;

  * {
    display: inline-block;
  }

  span {
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: 600;
    vertical-align: middle;
  }
}

.hobby-button:hover{
  background-color: #ffc151;
}

.topics-text{
  font-weight: 500;
}
