.content{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0 10px;
}

.child{
  margin-top: auto;
  width: 100%;
  padding: 0.5em;

  button {
    background-color: white;
    width: 100%;
    border: 0;
    color: black;
    font-weight: 800;
    padding: 8px;
    margin-bottom: 8px
  }
}

.hobby-button{
  width: 100%;
  margin-bottom: 4px;
  cursor: pointer;

  .icon{
    width: 40%;
    text-align: right;
  }

  * {
    display: inline-block;
  }

  .hobby-button-content{
    width: 60%;
    text-align: left;

    span {
      margin-left: 10px;
      text-transform: capitalize;
      font-weight: 600;
      vertical-align: middle;
    }
  }
}

.hobby-button:hover{
  background-color: #ffc151;
}

.topics-text{
  font-weight: 500;
}

.hobbify-description{
  font-size: 14px;
}

.sidebar{
  margin: 0 -10px;
  margin-bottom: 35px;
}

.profile-button{
  margin: 0 -18px 15px;

  span{
    margin-left: 10px;
    font-weight: 600;
  }
}

.profile-button:hover{
  background-color: #ffc151;
}

.active{
  background-color: #ffc151;
}

.logo{
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

h1{
  margin-bottom: 0px;
}
