.content {
  width: 100%;
  text-align: center;
  background-color: #FAA916;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.child{
  margin-top: auto;

  .message{
    font-weight: 500;
  }
}

input, button {
  width: 80%;
  margin: 0 auto 10px auto;
}

input {
  padding: 5px 15px;
  display: block;
  background-color: #f3f2f2;
  border-radius: 15px;
  border-color: white;
}

input:hover{
  border-color: white !important;
}

button, input{
  box-shadow: none;
  outline: none;
}

.logo{
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

h1{
  margin-bottom: 0px;
}


