.profile-header{
  text-align: left;

  span{
    text-transform: capitalize;
  }

  .hobbies{
    margin-left: 10px;
    display: inline-flex;
  }
}

.profile-content{
  text-align: left;

  .description{
    color: gray;
    font-size: 14px;
  }
}
