<div>
    <div class="ui-g-3">
        <hobbify-profile-icon
                [firstName]="userProfile.firstName"
                [lastName]="userProfile.lastName"
                [size]="'30'"></hobbify-profile-icon>
    </div>
    <div class="ui-g-9">
        <div class="profile-header">
            <span>{{userProfile.firstName}} {{userProfile.lastName}}</span>
            <div class="hobbies">
                <div *ngFor="let hobby of userProfile.hobbies">
                    <hobbify-hobby-icon
                            [iconTag]="hobby.iconTag"
                            [size]="'12'"
                            [defaultColor]="'white'"
                            [backgroundColor]="'#FAA916'"
                            [borderColor]="'white'"></hobbify-hobby-icon>
                </div>
            </div>
        </div>
        <div class="profile-content">
            <p class="description">{{userProfile.description}}</p>
            <div *ngIf="!isRequest">
                <button pButton class="ui-button-secondary" (click)="addFriend()" label="Add Friend"></button>
            </div>
            <div *ngIf="isRequest">
                <button pButton class="ui-button-secondary" (click)="accept()" label="Accept Friend Request"></button>
            </div>
        </div>
    </div>
</div>
