
<div class="content">
    <h1>Please select your topics of interest…</h1>

    <div *ngIf="hobbyMetadata">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <div *ngFor="let category of hobbyMetadata.hobbyCategories">
                <div class="category">
                    <span class="category-name" [ngClass]="category.color">{{category.name}}</span>
                    <div class="hobbies">
                        <div *ngFor="let hobby of hobbyMetadata.hobbies[category.uuid]"
                             (click)="select(hobby)">
                            <hobbify-hobby-card
                                [hobby]="hobby"
                                [color]="category.color"
                                [isSelected]="isSelected(hobby)">
                            </hobbify-hobby-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-1"></div>
    </div>

    <div class="footer">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <p class="note">Please select topics that have any minimum conection with you (you want to know more, you practice / love / do that thing etc.). This topics can be changed after profile setup.</p>
            <button pButton
                    class="ui-button-primary confirm-button"
                    label="Confirm your topics of interest"
                    (click)="submit()"></button>
        </div>
        <div class="ui-g-1"></div>
    </div>
</div>
